.alert {
  margin-top: 20px;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
